main {
	height: 100vh;
	width: 100vw;
	position: relative;

	font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.tile {
	background-color: var(--color-white);
	padding: 8px;
	border-radius: 16px;
	box-shadow: var(--box-shadow);
}