.links {
	position: absolute;
	top: 16px;
	left: 16px;
	display: flex;
	flex-direction: row;
	gap: 12px;

	--expanded-rows: 2;
	--link-item-size: 48px;
	--links-grid-gap:6px;
}

.links-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: var(--links-grid-gap);
	overflow: hidden;
	transition: height .2s ease-in-out	;
}

.links-grid[collapsed] {
	height: var(--link-item-size);
}

.links-grid[expanded] {
	/* Calculates Height of expanded Grid: (Link size in px * Num. Rows) + (Gap between Rows in px) */
	height: calc(var(--link-item-size) * var(--expanded-rows) + (var(--links-grid-gap) * (var(--expanded-rows) - 1)));
}

.links-grid[expanded] + #links-toggle {
	transform: rotate(180deg);
}

.link-item {
	display: flex;
	position: relative;
	justify-content: center;
	width: var(--link-item-size);
	height: var(--link-item-size);
	padding: 12px;
	border-radius: 12px;
	transition: all .2s ease;
}

.link-item:not(#links-toggle):hover, .link-item:focus {
	background-color: var(--color-light);
}
