.time {
	position: absolute;
	bottom: 16px;
	left: 16px;
	color: var(--color-white);
}

#time-hours {
	font-size: 164px;
	line-height: 164px;
	font-weight: 600;
	user-select: none;
}

#time-date {
	font-size: 24px;
	margin-top: 12px;
	text-align: center;
}